/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5;
  background-color: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

header {
  font-family: 'Lemon', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #bc5403;
  border-bottom: solid 1px #275da1;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  width: 380px;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

.content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
}

.row.links {
  font-size: 20px;
  width: 540px;
}

.content img {
  max-width: 100%;
}

a.button {
  border-radius: 0.5em;
  border: 0.1em solid;
  color: #fff;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  padding: 12px;
  margin: 4px;
  text-align: center;
}

.button i {
  vertical-align: middle;
}

.portfolio li {
  cursor: pointer;
}

.portfolio a {
  color: black;
}

.portfolio a:hover {
  text-decoration: none;
  color: black;
}


/* GENERAL ELEMENT TYPE STYLES */

/*.content h1 {*/
.content h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
}

.content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

.content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}
.content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

.content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
}

.content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

.content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
}

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

.content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
}
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

.content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
}
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}

p {
  margin-bottom: 20px;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

.hello {
  display: inline-block;
}

header .row {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

header nav {
  display: block;
  vertical-align: bottom;
}

.things {
  border: 1px dashed black;
}

/* #Media Queries
================================================== */

/* Desktop */
@media (min-width: 959px) {
  header nav {
    display: inline-block;
    vertical-align: bottom;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  .content {
    width: 490px;
  }
  .content h1:before,
  .content h2:before,
  .content h3:before,
  .content h4:before,
  .content h5:before,
  .content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header .profile {
    height: 75px;
    width: 75px;
    border-width: 2px;
  }

  .hello {
    margin-left: 0;
    width: 100%;
  }

  .row-centered {
    text-align: center;
  }
  .col-centered {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  .inner {
    width: 93%;
  }
  header .inner {
    width: 100%;
  }
  header .inner {
    position: relative;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  .row.links {
    font-size: 14px;
    width: 100%;
  }

  header a.button {
    font-size: 16px;
    line-height: 1.5;
    vertical-align: middle;
  }

  header a.button small {
    font-size: 13px;
    display: inline;
  }
  .content,
  .content h1:before,
  .content h2:before,
  .content h3:before,
  .content h4:before,
  .content h5:before,
  .content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  header h1, header h2 {
    width: 100%;
  }

  header .row {
    display: block;
  }

  .hello {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
  }

  a.button {
    display: inline-block;
  }
}

header .row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header .link {
  color: white;
  padding: 0.75em;
  text-align: center;
}

header .link:hover {
  background-color: #fafafa;
  color: black;
  text-decoration: none;
}

header .row-top {
  margin-top: 1em;
  margin-bottom: 1em;
}

nav .button:hover {
  text-decoration: none;
  background: #fff;
  color: #000;
}

nav .fa {
  line-height: inherit;
}

.profile {
  -moz-border-radius: 99em;
  -webkit-border-radius: 99em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}

.profile-marc {
  background-image: url('http://ilikerobots.me/image/profile.jpeg');
}

/* end of header*/

* {
  margin: 0;
  padding: 0;
}
/* test
body {
  background: #0A122A;
}

/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
}